@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
html{
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
}
nav .navbar-brand{
    height: 100%;
    width: 65px;
    background: #3498db;
}
.row{
    height: 100vh;
    /* height: 100vh; */
    /* background-color: red; */
    position: relative;
}
.row .first-col{
    z-index: 10;
    height: 48px;
}
nav.navbar{
    height: 48px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
}
.navbar button.navbar-toggler{
    position: relative;
    width: 55px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0;
}
.navbar button.navbar-toggler span{
    position: relative;
    height: 2px;
    width: 18px;
    background: #000;
}
.navbar button.navbar-toggler span:before,
.navbar button.navbar-toggler span:after{
    position: absolute;
    height: 2px;
    width: 18px;
    background: #000;
    content: "";
    left: 0;
}
.navbar button.navbar-toggler span:before{
    top: 5px;
}
.navbar button.navbar-toggler span:after{
    top: -5px;
}

/* Toggler actions */
.navbar button.navbar-toggler:hover,
.navbar button.navbar-toggler:focus,
.navbar button.navbar-toggler:active{
    border: 0;
    outline: 0;
}

.here{
    background-color: pink;
}
.collapse.navbar-collapse{
    /* background-color: red; */
    background-color: #fafafa;
}
.awaiting-decor,
.verification-image-container{
    width: 100%;
    height: 263px;
    background-image: url("../../images/undraw_Waiting__for_you_ldha.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 46px;
    margin-bottom: 29px;
}
.second-col .verification-image-container{
    background-image: url("../../icons/hero-image-verification\ page.svg");
    /* background-color: red; */
    /* background-position: center; */
}
.awaiting-text p{
    font-size: 1.25rem;
    font-weight: bold;
    width: 328px;
    margin: 0 auto;
    text-align: center;
}
.awaiting-text .account-status{
    font-size: 0.75rem;
    font-weight: normal;
}
.awaiting-text .account-status span{
    color: #3498db;
}
#verification-page .awaiting-text form input{
    width: 236px;
    height: 36px;
    text-align: center;
    display: block;
    margin: 9px auto 0 auto;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #fff;
    background: #3498db;
    border: none;
}
 /* Media Query for Tablets Ipads portrait mode */
 @media (min-width: 768px) and (max-width: 1024px){
    /* .container-fluid .row {
        background-color: blue;
    } */
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2){
    /* background-color: blue; */
}
/* @media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    background-color: blue;

} */
@media only screen and (min-width: 768px) and (min-height: 1000px){
    .row{
        height: 100vh;
        position: relative;
    }
    .row .awaiting-decor, .row .verification-image-container{
        position: relative;
    }
}
@media only screen and (min-width: 768px){
    .second-col{
        /* display: flex; */
        height: calc(100% - 48px);
    }
    .awaiting-text{
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        font-size: 16px;
    }
    nav .navbar-brand{
        width: 136px;
        margin-left: 24px;
    }
    .collapse.navbar-collapse{
        justify-content: flex-end !important;
        align-items: flex-end;
        width: 100%;
        /* align-self: right; */
    }
    .collapse.navbar-collapse ul{
        padding-left: 26px;
    }
    nav .navbar-nav{
        width: 100%;
        padding-right: 26px;

        /* background-color: red; */
        justify-content: flex-end;
        justify-self: right !important;
    }
    .navbar button.navbar-toggler{
        display: none;
    }
    .awaiting-decor, .verification-image-container{
        /* width: 699px; */
        position: absolute;
        width: 70%;
        /* height: 551px; */
        height: calc(100vh - 48px);
        background-size: 70%;
        background-position: 0 100%;
        margin-bottom: 0;
        margin-top: 0;
    }
    .second-col .verification-image-container{
        /* background-image: url("../../icons/hero-image-verification\ page.svg");
        background-color: red; */
        background-position: 20px center;
        /* background-size: 70%; */
    }
    .awaiting-text p{
        font-size: 2em;
        /* width: 533px; */
        margin-top: 112px;
        text-align: left;
        width: 100%;
        background-color: transparent;
    }
    .awaiting-text .account-status{
        /* width: 556px; */
        font-size: 1rem;
        margin-top: 25px;
        width: 100%;
    }
    #verification-page .awaiting-text form input{
        margin: 21px 0 0 0;
    }
    .navbar-nav li{
        display: flex;
        align-items: center;
    }
    .collapse.navbar-collapse{
        background-color: #fff;
    }
    .sprout-1{
        width: 60%;
        position: absolute;
        bottom: 0;
        right: 0;
        height: 150px;
        background-image: url("../../icons/Group\ 5.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: right 80%;
    }
}