@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
html{
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
}
nav .navbar-brand{
    height: 100%;
    width: 65px;
    background: #3498db;
}
.row{
    /* height: 100vh; */
    height: 100vh;
    /* background-color: red; */
    position: relative;
}

.row .first-col{
    z-index: 10;
    height: 48px;
    background-color: red;
}
nav.navbar{
    height: 48px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
}
.navbar button.navbar-toggler{
    position: relative;
    width: 55px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0;
}
.navbar button.navbar-toggler span{
    position: relative;
    height: 2px;
    width: 18px;
    background: #000;
}
.navbar button.navbar-toggler span:before,
.navbar button.navbar-toggler span:after{
    position: absolute;
    height: 2px;
    width: 18px;
    background: #000;
    content: "";
    left: 0;
}
.navbar button.navbar-toggler span:before{
    top: 5px;
}
.navbar button.navbar-toggler span:after{
    top: -5px;
}

/* Toggler actions */
.navbar button.navbar-toggler:hover,
.navbar button.navbar-toggler:focus,
.navbar button.navbar-toggler:active{
    border: 0;
    outline: 0;
}

.here{
    background-color: pink;
}
.collapse.navbar-collapse{
    /* background-color: red; */
    background-color: #fafafa;
}
.awaiting-decor,
.verification-image-container{
    width: 100%;
    height: 263px;
    background-image: url("../../images/undraw_Waiting__for_you_ldha.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 46px;
    margin-bottom: 29px;
}
.second-col .verification-image-container{
    background-image: url("../../icons/hero-image-verification\ page.svg");
    /* background-color: red; */
    /* background-position: center; */
}
.awaiting-text p{
    font-size: 1.25rem;
    font-weight: bold;
    width: 328px;
    margin: 0 auto;
    text-align: center;
}
.awaiting-text .account-status{
    font-size: 0.75rem;
    font-weight: normal;
}
.awaiting-text .account-status span{
    color: #3498db;
}
#verification-page .awaiting-text a{
    width: 236px;
    /* height: 36px; */
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    margin: 9px auto 0 auto;
    font-weight: bold;
    font-size: 12px;
    /* line-height: 36px; */
    border-radius: 0;
    text-transform: uppercase;
    color: #fff;
    background: #3498db;
    border: none;
}

/* All Categories */
#fe-allcategories .row,
/* #allcategories.row .first-col, */
#fe-allcategories .row .second-col{
    height: auto;
}
/* #allcategories.row .second-col{
    height: auto;
} */
#fe-allcategories .row .second-col{
    /* background-color: green; */
}

.search-area{
    /* min-width: 328px; */
    width: 100%;
    padding-left: 17px;
    padding-right: 17px;
    /* background-color: red; */
    /* margin-left: 47px; */
    /* left: 17px; */
    margin: 0 auto;
    position: absolute;
    top: 48px;
}
.search-area .dropdown{
    /* display: flex; */
}
.search-area .dropdown a.btn{
    width: 50px;
    height: 35px;
    display: inline-block;
    background:  #3498db;
    border: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 0;
}
.search-box{
    display: flex;
    width: calc(100% - 50px);
    /* background-color: yellow; */
}
.search-area .dropdown input{
    /* width: 47px; */
    border: 0;
    width: calc(100% - 47px);
    height: 35px;
    background: #eeeeee;
}
.search-box a.btn.search-link{
    background: #00618c;
}
.other-dropdown{
    display: none;
}





/* Topic Areas */

.main-content{
    margin-top: 60px;
}
.listings img{
    display: none;
}
.main-content ul {
    list-style-type: none;
    padding-left: 17px;
    padding-right: 17px;
    /* padding-bottom: 25px; */
    margin: 0;
    /* border-bottom: 1px solid #d2d2d2; */
}
.main-content ul li{
    list-style-type: none;
    padding: 0;
    margin: 15px 0 0 0;
    padding-bottom: 25px;
    border-bottom: 1px solid #d2d2d2;
}
.main-content .topic,
.main-content .topic span{
    font-size: 14px;
    color: #3498db;
}
.topic-areas span{
    /* background-color: red; */
    font-size: 14px;
    width: 56px;
    /* display: inline-block; */
}
.topic-areas span:not(:last-child){
    border-right: 1px solid #000;
}
.topic-areas span span{
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: grey;
    /* margin-left: 12px; */
    margin-right: 6px;
}
.topic-areas span:not(:first-child) span{
    margin-left: 12px;
}
.ratings-wrapper span{
    font-size: 12px;
}
.ratings-wrapper span span{
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: yellow;
    /* margin-left: 9px; */
    margin-right: 9px;
}
.ratings-wrapper span:not(:first-child) span{
    margin-left: 9px;
}
.listings a.btn,
article a.btn{
    /* width: 89.89px; */
    font-size: 12px;
    background: #3498DB;
    border-radius: 2px;
    color: #fff;
    padding: 5px 10px;
}

.listings a.btn:hover{
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25), 0px 0px 8px rgba(0, 0, 0, 0.12);
}
.listings img.ads{
    display: block;
    height: 200px;
    background-color: green;
    width: 100%;
}


/* All Project Item Category */
.row .col.second-col{
    padding-left: 16px;
    padding-right: 16px;
}
.tags-wrapper{
    padding-left: 13px;
    padding-top: 63px;
}
.ratings-wrapper > p{
    font-weight: bold;
    font-size: 14px;
}
#main_project_item .row .cols > div,
#main_project_item .row .cols > ul{
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    margin-bottom: 26px;
}
#main_project_item .listings .content-wrapper{
    width: 100%;
    padding-top: 21px;
    padding-bottom: 35px;
}
.ads{
    display: block;
    height: 200px;
    background-color: green;
    width: 100%;
}
.second-col .main-content .listings .topic{
    color: #000;
    font-weight: bold;
    font-size: 12px;
}
.second-col .main-content .listings .content-wrapper > a{
    border-radius: 4px;
}
.second-col .main-content .listings .content-wrapper > a:nth-child(6){
    background-color: #fff;
    background: #f14336;
}
.second-col .main-content .listings .content-wrapper > a:nth-child(7){
    background: #005073;
}
.second-col .main-content article{
    padding-top: 16px;
    padding-bottom: 16px;
}
.second-col .main-content article img{
    width: 127px;
    height: 125px;
    background-color: red;
    display: inline-block;
}
#main_project_item article.clear-fix img{
    margin-right: 17px;
}
#main_project_item article.clear-fix p{
    padding-left: 17px;
    padding-right: 17px;
}
#main_project_item article.clear-fix .ads + p{
    margin-top: 17px;
}
article a.btn{
    margin: 0 auto;
    height: 36px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
}
.badge-container{
    row-gap: 9px;
}
.badge-container .badge-primary{
    background: #fff;
    border-radius: 4px;
    border: 0.5px solid #C4C4C4;
    color: #3498db;
    padding: 6px 9px;
    margin-bottom: 9px;
    margin-right: 9px;
}

article.customer-reviews .customer-profile img{
    width: 24px;
    height: 24px;
    background: #000;
}
article.customer-reviews .customer-profile p{
    font-weight: bold;
    font-size: 12px;
}
time{
    display: block;
}

input[type="checkbox"]#load_comments{
    display: none;
}
.customer-reviews-wrapper{
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 38px;
}
.customer-reviews-wrapper label{
    /* background-color: blue; */
    color: #696969;
    font-size: 12px;
}
.customer-reviews-wrapper > article{
    max-height: 250px;
    overflow-y: hidden;
}
input[type="checkbox"]#load_comments:checked ~ .customer-reviews-wrapper > article{
    max-height: 300px;
    overflow-y: scroll;
    background-color: red;
}
.customer-reviews-wrapper hr{
    border: 0.5px solid #696969;
    margin-top: 20px;
    margin-bottom: 51px;
}
.customer-review-form .ratings-wrapper span:not(:first-child) span{
    margin-left: 0px;
}


/* Create Repository */
#create_repo .row{
    height: auto;
    padding-left: 16px;
    padding-right: 16px;
}
#create_repo .second-col{
    background-color: #f2f2f2;
    padding-left: 16px;
    padding-right: 16px;

}
.fe-form {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 161px;
    background-color: #fff;
}
.cr-repo-name{
    margin-top: 48px;
}

.fe-form .form-control,
.fe-form .ui.selection.dropdown,
.fe-form .ui.selection.active.dropdown .menu{
    background-color: #fafafa;
    border: 0;
    font-size: 1rem;
}
.fe-form .ui.selection.active.dropdown,
.fe-form .ui.selection.active.dropdown .menu,
.fe-form .ui.selection.active.dropdown:hover,
.fe-form .ui.selection.active.dropdown:hover .menu{
    border-width: 1px;
    border-style: solid;
    border-color: #d2d2d2;
    box-shadow: none !important;
}
.fe-form .form-control:focus {
    /* color: #495057; */
    /* background-color: #fff; */
    border-color: initial;
    /* outline: 0; */
    box-shadow: none;
}
.repo-description{
    margin-top: 70px;
}
.fe-form label{
    font-weight: bold;
}
.repo-description label{
    font-size: 1.125rem;
    /* font-weight: bold; */
}
.repo-description input{
    margin-bottom: 22px;
}
/* .fe-form .ui.selection.active.dropdown .menu{
    border: 0;
} */
.fe-form input[type="file"]{
    /* visibility: hidden; */
    /* opacity: 0; */
    background-image: url("../icons/upload-2.svg");
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center 22%;
    width: 100%;
    height: 184px;
    border: 2px dashed #d2d2d2;
    text-align: center;
    display: flex;
    justify-items: center;;
}

.fe-form input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}
.uploads-area-1{
    /* width: calc(100% - 32px); */
    width: 100%;
    height: 184px;
    border: 2px dashed #d2d2d2;
    position: relative;
}
.uploads-area-1 img{
    /* vertical-align: middle; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    /* background-color: yellow; */
    position: relative;
    top: 50%;
    background-image: n;
    margin-top: -20px;
}
.form-group{
    position: relative;
}
.form-group #file_label{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #000;;
}

.label-button{
    background: #3498DB;
    border-radius: 6px;
    color: #fff;
    padding: 12px 28px;
    position: absolute;
    left: 50%;
    bottom: 27px;
    transform: translate(-50%, 0);
}



@media only screen and (min-width: 768px) and (min-height: 1000px){
    .row{
        height: 100vh;
        position: relative;
    }
    .row .awaiting-decor, .row .verification-image-container{
        position: relative;
    }
}
@media only screen and (min-width: 768px){
    .second-col{
        /* display: flex; */
        height: calc(100% - 48px);
    }
    .awaiting-text{
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        font-size: 16px;
    }
    nav .navbar-brand{
        width: 136px;
        margin-left: 24px;
    }
    .collapse.navbar-collapse{
        justify-content: flex-end !important;
        align-items: flex-end;
        width: 100%;
        /* align-self: right; */
    }
    .collapse.navbar-collapse ul{
        padding-left: 26px;
    }
    nav .navbar-nav{
        width: 100%;
        padding-right: 26px;

        /* background-color: red; */
        justify-content: flex-end;
        justify-self: right !important;
    }
    .navbar button.navbar-toggler{
        display: none;
    }
    .awaiting-decor, .verification-image-container{
        /* width: 699px; */
        position: absolute;
        width: 70%;
        /* height: 551px; */
        height: calc(100vh - 48px);
        background-size: 70%;
        background-position: 0 100%;
        margin-bottom: 0;
        margin-top: 0;
    }
    .second-col .verification-image-container{
        /* background-image: url("../../icons/hero-image-verification\ page.svg");
        background-color: red; */
        background-position: 20px center;
        /* background-size: 70%; */
    }
    .awaiting-text p{
        font-size: 2em;
        /* width: 533px; */
        margin-top: 112px;
        text-align: left;
        width: 100%;
        background-color: transparent;
    }
    .awaiting-text .account-status{
        /* width: 556px; */
        font-size: 1rem;
        margin-top: 25px;
        width: 100%;
    }
    #verification-page .awaiting-text form input{
        margin: 21px 0 0 0;
    }
    .navbar-nav li{
        display: flex;
        align-items: center;
    }
    .collapse.navbar-collapse{
        background-color: #fff;
    }
    .sprout-1{
        width: 60%;
        position: absolute;
        bottom: 0;
        right: 0;
        height: 150px;
        background-image: url("../../icons/Group\ 5.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: right 80%;
    }


    /* All Categories */

    #categories-nav.navbar{
        background: #00618c;
        height: 32px;
        box-shadow: none;
    }
    #categories-nav.navbar button.navbar-toggler{
        display: block;
    }
    .search-area{
        width: 573px;
       position: relative;
       top: unset;
    }
    .search-area .dropdown{
        /* display: flex; */
    }
    .search-area .dropdown a.btn{
        width: 50px;
        height: 35px;
        display: inline-block;
        background:  #3498db;
        border: 0;
        border-top-left-radius: 6px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 0;
    }
    .search-box{
        display: flex;
        width: calc(100% - 50px);
        /* background-color: yellow; */
    }
    .search-area .dropdown input{
        /* width: 47px; */
        border: 0;
        width: calc(100% - 47px);
        height: 35px;
        background: #eeeeee;
    }
    .search-box a.btn.search-link{
        background: #00618c;
    }

    /* Topic Areas */
    .listings{
        display: flex;
    }
    .listings img{
        display: block;
        width: 158px;
        /* height: 178px; */
        background-color: grey;
    }
    .listings .content-wrapper{
        width: calc(100% - 158px);
        padding-left: 8px;
    }
    .main-content .topic,
    .main-content .topic span{
        font-size: 14px;
        color: #3498db;
    }
    .topic-areas span{
        font-size: 14px;
        width: 56px;
    }
    .other-dropdown{
        display: block;
    }


    /* All Project Item Category */


    #all_pro_item_rows{
        display: grid;
        grid-template-columns: 70% auto;
        grid-column-gap: 10px;
    }
    #all_pro_item_rows .listings{
        border-bottom: 0;
    }


    /* Create Repository */
    .fe-form{
        /* margin-top: 77px; */
        padding-left: 90px;
        padding-right: 90px;
    }
    .cr-repo-name{
        float: left;
    }
    .cr-repo-select{
        float: right;
    }
    .repo-banner{
        clear: both;
    }
    .cr-repo-name, .cr-repo-select{
        width: 45%;
        margin-top: 77px;
    }
    .label-button{
        position: relative;
        bottom: -51px;
        /* top: 0; */
    }
    .fe-form input[type="file"] {
        background-position: center center;
    }
}